body{
  background-color: rgb(245, 234, 220);
}

#welcome{
  color: #502c02;
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-top: 320px;
  font-size: 20px;
}
#link {
  text-align: center;
  color: blue;
}