body{
  background-color: rgb(245, 234, 220);
}

#choose{
  color: #502c02;
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 26px;
  margin-top: 290px;
  margin-bottom: 1px;
 
}
.list{
  font-family: 'Special Elite', cursive;
  font-size: 18px;
  width: 200;
  height: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  color: black;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}
