body{
  background-color: #f5eadc;
}

.profile{
  margin: auto;
  width: 50%;
  text-align: center;
}
.image{
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;

}
.links{
  display: block;
  margin-left: 15px;
}
.info{
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  
}
.name{
  font-size:30px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #502c02;
  font-family: 'Special Elite', cursive;
}

.num{
  
  font-size: 50px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.data{
  display: inline-block;
  width: 90px;
  vertical-align: top;
  border-style: none solid none solid;
  height: 86px;
}

.shelf{
  text-align: center;
  font-size: 18px;
  font-family: 'Special Elite', cursive;
}

.count{
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}
